<?xml version="1.0" encoding="UTF-8"?>
<launch>

<node pkg="articulated_tractor_trailer_description"
  name="front_wheel_axle_publisher"
  type="gazebo_link_pose"
  output="screen">
  <param name="publish_frequency" type="double" value="10.0" />
  <param name="link_name" type="str" value="trailer_wheel_axle" />
</node>

</launch>
